:root
{
	--categoryWidth: 25.5rem;
	--categoryHeight: 15rem;

	--carouselWidth: 325px;
	--carouselHeight: 500px;
	--carouselFont: 1.5rem;
}
.random-icons-div
{
	position: absolute;
	top: 500px;
	width: 100%;
}
.random-icons
{
	position: relative;
	height: auto;
	width: 100%;
}
.random-category-anchor
{
	z-index: 2;
}
.random-category-icon
{
	display: none;
	position: absolute;
	cursor: pointer;
	width: 4rem;
	height: 4rem;
	fill: var(--fourthDark);
	opacity: 0.25;
	transition: opacity 0.15s;
}
.random-category-icon:hover
{
	opacity: 0.50;
}
.random-category-icon:active
{
	opacity: 0.75;
}
/*Category Links*/
.category-scrollable-space
{
	margin-top: var(--mediumM);
	overflow: scroll;
	cursor: grab;
	scrollbar-width: none;
  	-ms-overflow-style: none;
  	overflow: -moz-scrollbars-none;
}

.category-scrollable-space::-webkit-scrollbar
{
	display: none;
}

.category-links
{
	position: relative;
	white-space: nowrap;
	height: auto;
	display: flex;
	scroll-padding-left: var(--leftM);
	gap: 24px;
}
.category-link
{
	position: relative;
	cursor: pointer;
	width: var(--categoryWidth);
	height: var(--categoryHeight);
	filter: drop-shadow(0px 32px 13px rgba(32, 33, 36, 0.03)) drop-shadow(0px 18px 11px rgba(32, 33, 36, 0.1)) drop-shadow(0px 8px 8px rgba(32, 33, 36, 0.17)) drop-shadow(0px 2px 4px rgba(32, 33, 36, 0.2)) drop-shadow(0px 0px 0px rgba(32, 33, 36, 0.2));
	border-style: solid;
	border-color: var(--fourthDark);
	border-width: 2px;
	background: var(--thirdDark);
	border-radius: 24px;
}
.category-link:hover .category-redirect-icon
{
	opacity: 0.75;
}

#first-category-link
{
	margin-left: var(--leftM);
}
.category-text-flex
{
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 1.5rem;
	padding: 0 1.5rem;
}
.category-text
{
	font-family: Dangrek;
	font-size: 2rem;
	line-height: auto;
	color: var(--white);
}
.category-examples
{
	display: flex;
	gap: 16px;
	width: 100%;
}
.category-example
{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 16px;
	border-style: solid;
	border-color: var(--white);
	border-width: 2px;
	padding: 0.5rem 1rem;
	background: none;
	color: var(--white);
	opacity: 0.75;
	font-weight: 500;
	font-size: 0.875rem;
	display: none;
	transition: opacity 0.15s;
}
.category-example:hover
{
	opacity: 1;
}
.show-category-example
{
	display: initial;
}

.category-redirect-icon-div
{
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
}
.category-redirect-icon
{
	fill: var(--white);
	opacity: 0.5;
	transition: all 0.15s;
}
.category-main-icon-div
{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 25%;
}
.category-main-icon
{
	width: 4rem;
	height: 4rem;
	fill: var(--fourthGreen);
}
.category-stabiliser
{
	width: var(--categoryWidth);
	pointer-events: none;
}
.category-scrollable::-webkit-scrollbar
{
	display: none;
}
.category-empty-space-div
{
	width: calc(var(--leftM) - 16px);
	height: var(--categoryHeight);
}
.category-empty-space
{
	width: 100%;
	height: 100%;
}
/*Carousels*/

/*CAROUSEL HEADER*/


.product-content
{
	margin-top: var(--bigM);
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}
.product-header-div
{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	width: 100%;
	white-space: nowrap;
}
.product-header
{
	line-height: 6rem;
	font-size: 4.5rem;
	color: var(--white);
	font-family: Dangrek;
}
.product-icon
{
	width: 3.5rem;
	height: 3.5rem;
	fill: var(--secondDark);
}

.product-icon-bifa
{
	stroke: var(--fourthGreen);
}
.product-icon-contur
{
	stroke: var(--fourthGreen);
}
.product-icon-handle
{
	stroke: var(--fourthGreen);
}
.product-icon-old
{
	opacity: 0;
}
.product-icon-show
{
	opacity: 1 !important;
}
.product-icon-new
{
	opacity: 0;
	fill: var(--fourthGreen);
}
.shake-icon
{
	animation: shakeIcon 0.35s forwards;
}
@keyframes shakeIcon
{
	25%
	{
		transform: rotate(0deg);
	}
	50%
	{
		transform: rotate(5deg);
	}
	75%
	{
		transform: rotate(-5deg);
	}
	100%
	{
		transform: rotate(0deg);
	}

}

/*CAROUSEL MAIN*/
.carousel-flex
{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
}
.carousel-content
{
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}
/*CAROUSEL SLIDERS*/
.carousel-sliders
{
	scrollbar-width: none;
  	-ms-overflow-style: none;
  	overflow: -moz-scrollbars-none;
	display: flex;
	width: 100%;
	gap: 2rem;
	align-items: center;
	justify-content: flex-start;
	overflow-x: auto;
	z-index: 3;
	scroll-behavior: smooth;
}
.carousel-slide
{
	position: relative;
	background-color: var(--thirdDark);
	border-style: solid;
	border-color: var(--fourthDark);
	border-radius: 1.5rem;
	border-width: 2px;
	width: var(--carouselWidth);
	height: var(--carouselHeight);
	box-shadow: 0px 32px 13px rgba(32, 33, 36, 0.03), 0px 18px 11px rgba(32, 33, 36, 0.1), 0px 8px 8px rgba(32, 33, 36, 0.17), 0px 2px 4px rgba(32, 33, 36, 0.2), 0px 0px 0px rgba(32, 33, 36, 0.2);
}
.carousel-slide-product-img-div
{
	display: flex;
	align-content: center;
	justify-content: center;
	margin-top: 4rem;
	width: 100%;
}
.carousel-slide-product-img
{
	width: 150px;
	height: 164px;
	object-fit: cover;
}
.carousel-slide-text
{
	margin-top: 2rem;
	width: 100%;
	padding: 0px 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.carousel-slide-product-name
{
	font-weight: 600;
	font-size: var(--carouselFont);
	text-align: center;
	color: var(--white);
}
.carousel-slide-bonus-info
{
	text-align: center;
	color: var(--fourthGreen);
	opacity: 50%;
	font-weight: 600;
	line-height: 2.75rem;
	font-size: var(--carouselFont);
}
.carousel-slide-cost-div
{
	position: absolute;
	bottom: 1.75rem;
	display: flex;
	width: 100%;
	align-content: center;
	justify-content: center;
}
.carousel-slide-cost
{
	color: var(--fourthGreen);
	font-weight: 600;
	text-align: center;
	font-size: 1.75rem;
}
.carousel-slide-currency
{
	color: var(--fourthGreen);
	font-weight: 700;
	font-size: 1.25rem;
	text-align: center;
}
/*CAROUSEL ARROWS*/
.carousel-arrow-div
{
	cursor: pointer;
	height: 100%;
	background: none;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}
.carousel-arrow-div:hover .carousel-right-arrow
{
	margin-left: 0.5rem;
}
.carousel-arrow-div:hover .carousel-left-arrow
{
	margin-right: 0.5rem;
}
.carousel-arrow
{
	fill: var(--fourthGreen);
	width: 4rem;
	height: 4rem;
	transition: all 0.15s;
}
.carousel-arrow-inactive
{
	pointer-events: none;
	opacity: 0.25;
}
.carousel-inactive
{
	pointer-events: none;
}
/*CAROUSEL INDICATORS*/
.carousel-indicators
{	
	position: relative;
	height: 1rem;
	display: flex;	
	margin-left: auto;
	margin-right: auto;
}
.carousel-indicator
{
	display: none;
	cursor: pointer;
	flex: 1;
 	background-color: var(--thirdDark);
}
.carousel-indicator-anim
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 10px;
	height: 1rem;
	transition: all 0.15s;
	border-radius: 16px;
	background-color: var(--fourthGreen);
	pointer-events: none;
}
.current-indicator
{
	pointer-events: none;
}
.first-indicator
{
	border-radius: 16px 0px 0px 16px;
}
.last-indicator
{
	border-radius: 0px 16px 16px 0px;
}
.show-indicator
{
	display: initial;
}
.carousel-stabiliser
{
	width: var(--carouselWidth);
	opacity: 0;
	pointer-events: none;
}
.carousel-sliders::-webkit-scrollbar
{
	display: none;
}

/*PROGRESS ICON*/

.product-section-progress-div
{
	position: fixed;
	bottom: 32px;
	left: 32px;
	width: 3.5rem;
	height: 3.5rem;
	display: flex;
	align-content: center;
	justify-content: center;
	display: none;
	z-index: 6;
}
.progress-div-show
{
	display: initial;
}

.product-section-progress
{
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	background: var(--fourthGreen);
	display: flex;
	align-items: center;
	justify-content: center;
}
.product-section-progress:before
{
	content: '';
	position: absolute;
	height: 84%;
	width: 84%;
	background-color: var(--secondDark);
	border-radius: 100%;
}
.product-section-icon
{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
@keyframes scale-up-down
{
	0%,100%
	{
		transform: scale(1.0);
	}
	50%
	{
		transform: scale(1.25);
	}
}
.progress-icon
{
	fill: var(--fourthGreen);
	width: 1.5rem;
	height: 1.5rem;
	animation: scale-up-down 0.15s forwards;
}

@media(max-width: 1150px)
{
	:root
	{
		--categoryWidth: 17rem;
	}
	#first-category-link
	{
		padding: 0;
	}
	.category-scrollable-space
	{
		margin-left: var(--leftM);
		scroll-snap-type: x proximity;
	}
	.category-link
	{
		scroll-snap-align: start;
	}
	.category-text-flex
	{
		bottom: 15%;
		width: 100%;
	}
	.category-text
	{
		text-align: center;
	}
}
@media(max-width: 1000px)
{
	:root
	{
		--categoryWidth: 14.7rem;
		--categoryHeight: 13rem;
	}
	.category-text-flex
	{
		bottom: 10%;
	}
	.category-redirect-icon-div
	{
		display: none;
	}
}
@media(max-width: 900px)
{
	:root
	{
		--carouselWidth: 300px;
		--carouselHeight: 475px;
		--carouselFont: 1.25rem;
	}
	.product-section-progress-div
	{
		display: none;
	}
	.product-section-progress
	{
		display: none;
	}
	.carousel-slide-text
	{
		padding: 0px 0.75rem;
	}
	.random-icons-div
	{
		display: none;
	}
}
@media(max-width: 800px)
{
	:root
	{
		--carouselWidth: 275px;
		--carouselHeight: 450px;
		--carouselFont: 1.25rem;
	}
	.carousel-slide-bonus-info
	{
		line-height: 2.5rem;
	}
	.carousel-slide-product-img-div
	{
		margin-top: 3rem;
	}
	.carousel-sliders
	{
		gap: 1rem;
	}
}
@media(max-width: 775px)
{
	:root
	{
		--categoryWidth: 12.7rem;
		--categoryHeight: 11.3rem;
	}
	.product-header
	{
		line-height: 6rem;
		font-size: 3.5rem;
	}
	.category-main-icon
	{
		width: 3.75rem;
		height: 3.75rem;
	}
	.category-text
	{
		font-size: 1.75rem;
	}
}
@media(max-width: 750px)
{
	:root
	{
		--carouselWidth: 250px;
		--carouselHeight: 425px;
		--carouselFont: 1.1rem;
	}
	.carousel-slide-text
	{
		padding: 0px 1rem;
	}
	.carousel-slide-product-img-div
	{
		margin-top: 2.5rem;
	}
	.carousel-slide-cost
	{
		font-size: 1.5rem;
	}
	.carousel-slide-currency
	{
		font-size: 1rem;
	}
	.carousel-arrow, .product-icon
	{
		width: 3rem;
		height: 3rem;
	}
	

}
@media(max-width: 675px)
{
	:root
	{
		--carouselWidth: 225px;
		--carouselHeight: 350px;
	}
	.carousel-slide-text
	{
		margin-top: 0.75rem;
		padding: 0px 1.25rem;
	}
	.carousel-slide-bonus-info
	{
		line-height: 1.75rem;
	}
	.carousel-slide-product-img-div
	{
		margin-top: 2.25rem;
	}
	.carousel-slide-cost
	{
		font-size: 1.25rem;
	}
	.carousel-slide-currency
	{
		font-size: 0.75rem;
	}
	.carousel-slide-product-img
	{
		width: 125px;
		height: 140px;
	}
	.carousel-sliders
	{
		gap: 0.5rem;
	}
	.carousel-slide
	{
		border-radius: 1rem;
	}
}
@media(max-width: 650px)
{
	:root
	{
		--categoryWidth: 11rem;
		--categoryHeight: 9.8rem;
		--carouselFont: 0.90rem;
	}

	.product-header
	{
		line-height: 4.5rem;
		font-size: 3.25rem;
	}
	.category-main-icon-div
	{
		top: 20%;
	}
	.category-main-icon
	{
		width: 3.5rem;
		height: 3.5rem;
	}
	.category-text
	{
		font-size: 1.5rem;
	}
	.product-icon
	{
		width: 2.5rem;
		height: 2.5rem;
	}

}
@media(max-width: 575px)
{
	:root
	{
		--carouselWidth: 200px;
		--carouselHeight: 325px;
	}
	.product-header
	{
		font-size: 3rem;
	}
	.carousel-slide-cost-div
	{
		bottom: .75rem;
	}
	.carousel-slide-bonus-info
	{
		line-height: 1.75rem;
	}
	.carousel-slide-product-img-div
	{
		margin-top: 2.25rem;
	}
	.carousel-slide-cost
	{
		font-size: 1.25rem;
	}
	.carousel-slide-currency
	{
		font-size: 0.75rem;
	}
	.carousel-slide-product-img
	{
		width: 125px;
		height: 140px;
	}
	.carousel-sliders
	{
		gap: 0.5rem;
	}
}

@media(max-width: 510px)
{
	:root
	{
		--carouselWidth: 175px;
		--carouselHeight: 275px;

		--categoryWidth: 9.5rem;
		--categoryHeight: 8.5rem;
	}
	.carousel-sliders
	{
		scroll-snap-type: x mandatory;
	}
	.carousel-slide
	{
		scroll-snap-align: start;
	}
	.product-header-div 
	{
		gap: 1rem;
	}

	.carousel-arrow, .product-icon
	{
		width: 2rem;
		height: 2rem;
	}
	.carousel-slide-bonus-info
	{
		line-height: 1.25rem;
	}
	.carousel-slide-product-img-div
	{
		margin-top: 1.25rem;
	}
	.carousel-slide-cost
	{
		font-size: 1rem;
	}
	.carousel-slide-currency
	{
		font-size: 0.50rem;
	}
	.carousel-slide-product-img
	{
		width: 100px;
		height: 115px;
	}
	.carousel-sliders
	{
		gap: 0.25rem;
	}

	.category-main-icon-div
	{
		top: 22%;
	}
	.category-main-icon
	{
		width: 3rem;
		height: 3rem;
	}
	.category-text
	{
		font-size: 1.25rem;
	}
	.product-header
	{
		line-height: 4rem;
		font-size: 2.5rem;
	}
}
@media(max-width: 450px)
{	
	:root
	{
		--categoryWidth: 8.4rem;
		--categoryHeight: 7.5rem;
	}
	.carousel-arrow-div
	{
		width: 1px;
	}
	
	.category-main-icon
	{
		width: 2.75rem;
		height: 2.75rem;
	}
	.category-text
	{
		font-size: 1rem;
	}
	.category-links
	{
		gap: 16px;
	}
	.category-link
	{
		border-radius: 16px;
	}
	.product-header
	{
		line-height: 3.5rem;
		font-size: 2.25rem;
	}
}
@media(max-width: 400px)
{
	:root
	{
		--categoryWidth: 7.46rem;
		--categoryHeight: 6.6rem;

		--carouselWidth: 150px;
		--carouselHeight: 250px;
	}
	.product-content
	{
		gap: 2rem;
	}
	.carousel-slide-bonus-info
	{
		line-height: auto;
	}
	.carousel-slide-product-img-div
	{
		margin-top: 1rem;
	}
	.carousel-slide-product-img
	{
		width: 75px;
		height: 95px;
	}

	.product-header
	{
		font-size: 2rem;
	}
	.category-main-icon
	{
		width: 2.25rem;
		height: 2.25rem;
	}
	.category-text
	{
		font-size: 0.75rem;
	}
	.category-links
	{
		gap: 8px;
	}

}
@media(max-width: 350px)
{
	.carousel-arrow, .product-icon
	{
		width: 1.5rem;
		height: 1.5rem;
	}
}
