/*VARIABLES*/
:root {
  /*Text*/
  /*72px*/
  --header: 4.5rem;
  --header-line-height: 6rem;
  /*72px*/
  --welcome-header: 4.5rem;
  --welcome-header-line-height: 5.375rem;
  /*32px*/
  --welcome-description: 2rem;
  /*28px*/
  --description: 1.75rem;
  --description-line-height: 3rem;
  /*24px*/
  --semi-description: 1.5rem;
  /*56px*/
  --semi-header: 3.5rem;

  /*Special Text*/
  --nav-text: 1.25rem;

  --end-header: 4.5rem;
  --end-header-line-height: 5.375rem;

  --end-description: 2rem;
  --end-description-line-height: auto;

  --copyright: 1.5rem;
  --end-icons: 2rem;

  /*Culori*/

  --fourthDark: #424d3f;
  --thirdDark: #323c2f;
  --secondDark: #262f24;
  --firstDark: #1e271d;

  --fourthGreen: #acd279;
  --thirdGreen: #98c066;
  --secondGreen: #7ba64a;
  --firstGreen: #5e8832;

  --white: #fff;
  --white90: #262f24;
  --white50: #323c2f;
  --white25: #1e271d;

  /*General Margin*/

  /*256px*/
  --hugeM: 16rem;
  /*128px*/
  --bigM: 8rem;
  /*96px	*/
  --intermediateM: 6rem;
  /*80px*/
  --mediumM: 5rem;
  /*56px*/
  --smallM: 3.5rem;
  /*40px*/
  --tinyM: 2.5rem;

  /*Specific Margin*/
  /*200px*/
  --welcomeM: 50rem;
  --startM: 12.5rem;
  /*100px*/
  --carouselM: 6.25rem;
  --leftM: 8rem;
}
html {
  scroll-behavior: smooth;
}
/*FONTS*/
@font-face {
  font-family: Dangrek;
  src: url("../assets/Fonts/Dangrek/Dangrek-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url("../assets/Fonts/Poppins/Poppins/Poppins-Thin.ttf");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url("../assets/Fonts/Poppins/Poppins/Poppins-ExtraLight.ttf");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url("../assets/Fonts/Poppins/Poppins/Poppins-Light.ttf");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url("../assets/Fonts/Poppins/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url("../assets/Fonts/Poppins/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url("../assets/Fonts/Poppins/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url("../assets/Fonts/Poppins/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url("../assets/Fonts/Poppins/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url("../assets/Fonts/Poppins/Poppins/Poppins-Black.ttf");
  font-weight: 900;
  font-display: swap;
}
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: Poppins, Roboto;
  user-select: text;
}
::-webkit-scrollbar {
  width: 4px;
  background-color: var(--thirdDark);
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--fourthGreen);
  border: none;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: transparent;
}
a,
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
a,
button,
label,
div {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
img {
  pointer-events: none;
  user-select: none;
  user-drag: none;
}

body {
  overflow-x: hidden;
  background-color: var(--secondDark);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  user-select: text;
  user-drag: none;
}

/*NAV BAR*/
.nav-bar {
  width: 100%;
  height: 84px;
  padding: 0px 8rem;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: rgba(38, 47, 36, 0.9);
  backdrop-filter: blur(5px);
}
.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.nav-logo {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 200px;
  height: 84px;
  cursor: pointer;
}
.nav-logo-img {
  width: 100%;
  height: 64px;
  object-fit: cover;
}
.nav-links {
  display: flex;
  gap: 4rem;
  width: auto;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.nav-link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.15s;
  white-space: nowrap;
}
.nav-text::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -2px;
  left: 0;
  background: var(--fourthGreen);
  visibility: hidden;
  border-radius: 16px;
  transform: scaleX(0);
  transition: 0.15s ease-in-out;
}
#current-page::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -2px;
  left: 0;
  background: var(--fourthGreen);
  visibility: visible;
  border-radius: 16px;
  transform: scaleX(1);
}
.nav-link:hover .nav-text:before,
.nav-link:focus .nav-text:before {
  visibility: visible;
  transform: scaleX(1);
}
.nav-text {
  position: relative;
  color: var(--white);
  font-size: var(--nav-text);
  font-weight: 600;
  transition: all 0.15s;
}
.nav-icon {
  width: var(--nav-text);
  height: var(--nav-text);
  fill: var(--fourthGreen);
}
.hamburger-menu-div {
  position: relative;
  display: none;
  cursor: pointer;
}
.hamburger-menu {
  margin-top: 10px;
  width: 30px;
  height: 4px;
  background-color: var(--fourthGreen);
  border-radius: 100px;
  transition: all 0.15s ease-in-out;
}
.hamburger-menu:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: var(--fourthGreen);
  border-radius: 100px;
  transform: translateY(-10px);
  transition: all 0.15s ease-in-out;
}
.hamburger-menu-div.intoX .hamburger-menu {
  transform: rotate(45deg);
}
.hamburger-menu-div.intoX .hamburger-menu:before {
  transform: rotate(270deg);
}

.tablet-nav {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--firstDark);
  width: 435px;
  height: 100vh;
  z-index: 9;
  border-radius: 0px 48px 48px 0px;
  transition: all 0.15s ease-in-out;
}
.show-tablet-nav {
  opacity: 1;
  pointer-events: initial;
  transform: translateX(0%);
}
.tablet-nav-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 0px;
  gap: 7.5vh;
}
.tablet-nav-logo-div {
  width: 80px;
  height: 80px;
}
.tablet-nav-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tablet-nav-links {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 4.5vh;
}
.tablet-nav-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  opacity: 0.25;
  transition: 0.15s;
}
.tablet-nav-link:hover {
  opacity: 0.75;
}
.tablet-nav-link:active {
  opacity: 0.75;
}
#current-tablet-link {
  opacity: 1;
}
.tablet-nav-text {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--white);
}
.tablet-nav-icon {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--fourthGreen);
}
.tablet-nav-break-div {
  width: 100%;
  padding: 0px 0px;
}
.tablet-nav-break {
  width: 100%;
  height: 2px;
  background-color: var(--fourthDark);
  border-radius: 16px;
}
.tablet-nav-call-to-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3.5vh;
}
.tablet-nav-call-to-action-div {
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.tablet-nav-call-to-action {
  font-weight: 600;
  font-size: 1rem;
  color: var(--white);
}
.tablet-nav-call-to-action-icon {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--fourthGreen);
}
/*.tablet-nav-language-switch
{
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	margin-left: auto;
	margin-right: auto;
}
.tablet-nav-language-switch:hover .tablet-nav-language-icon
{
	transform: rotate(-90deg);
}
.tablet-nav-language-text
{
	font-weight: 600;
	font-size: 1.25rem;
	color: var(--white);
}
.tablet-nav-language-icon
{
	width: 1rem;
	height: 1rem;
	fill: var(--fourthGreen);
	transition: transform 0.15s;
}*/
.tablet-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 39, 29, 0.7);
  z-index: 7;
}
.show-tablet-overlay {
  display: initial;
}

/*PHONE NAV*/

.phone-nav {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  align-content: center;
  justify-content: center;
  height: 88px;
  border-radius: 32px 32px 0px 0px;
  background-color: var(--firstDark);
  z-index: 6;
}
.phone-nav-links {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 48px;
}
.phone-nav-link {
  opacity: 0.75;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 2px;
  transition: all 0.15s;
}
.phone-nav-link:hover {
  opacity: 1;
}
.phone-nav-link:active {
  opacity: 1;
}
#current-phone-nav-link {
  opacity: 1;
}
.phone-nav-text {
  color: var(--fourthGreen);
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
}
.phone-nav-icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--fourthGreen);
}

/*WELCOME TEXT*/

.welcome-div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: var(--startM);
  display: inline-flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}
.welcome-text {
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.welcome-header {
  white-space: nowrap;
  line-height: var(--welcome-header-line-height);
  font-family: Dangrek;
  font-size: var(--welcome-header);
  color: var(--white);
}
.important-text {
  color: var(--fourthGreen);
  font-family: Dangrek;
}
.welcome-description {
  color: white;
  font-weight: 600;
  font-size: var(--welcome-description);
}

/*Buttons*/
.welcome-buttons {
  display: flex;
  gap: 6rem;
  align-items: center;
  justify-content: space-between;
}
.nouaZecideg-arrow {
  transform: rotate(-90deg);
}
.button:hover .nouaZecideg-arrow {
  transform: translateX(15%) rotate(-90deg) !important;
}
.button,
.outline-button {
  position: relative;
  height: 3.5rem;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--fourthGreen);
  border-radius: 8px;
  padding: 10px 4rem 10px 2rem;
  border: none;
}
.button:hover .button-icon-dark {
  transform: translateY(15%);
}
.outline-button:hover .button-icon-green {
  transform: translateX(15%);
}
.button-content {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.button-text {
  font-weight: 600;
  font-size: var(--semi-description);
  text-align: center;
  white-space: nowrap;
  color: var(--secondDark);
}
.outline-button {
  background-color: var(--secondDark);
  border-radius: 8px;
  border-style: solid;
  border-width: 4px;
  border-color: var(--fourthGreen);
}
.outline-button-text {
  white-space: nowrap;
  font-weight: 600;
  font-size: var(--semi-description);
  text-align: center;
  color: var(--fourthGreen);
}
.button-icon-green,
.button-icon-dark {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  right: 2rem;
  transition: all 0.25s;
}
.button-icon-green {
  fill: var(--fourthGreen);
}
.button-icon-dark {
  fill: var(--secondDark);
}

/*Section Break*/
.big-section-break {
  margin-top: var(--welcomeM);
  width: 100%;
  padding: 0px var(--leftM);
}
.section-break {
  margin-top: 8rem;
  width: 100%;
  padding: 0px var(--leftM);
}
.section-break-tool {
  width: 100%;
  height: 2px;
  background-color: var(--fourthDark);
}
/*Header*/
.text-area {
  display: inline-flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: var(--bigM);
  width: 100%;
  padding: 0 var(--leftM);
}
.text-area-inline {
  width: 0;
}
.centered-text-area {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: var(--bigM);
  width: 100%;
  padding: 0 var(--leftM);
}
.header-div {
}
.header {
  width: 17ch;
  font-family: Dangrek;
  font-size: var(--header);
  line-height: var(--header-line-height);
  color: var(--white);
}
.oneliner-header {
  white-space: nowrap;
}
.padding-description-div {
  padding-right: var(--leftM);
}
.paddding-center-description-div {
  padding: 0 calc(var(--leftM) / 2);
}
.description {
  width: 30ch;
  font-size: var(--description);
  font-weight: 500;
  line-height: var(--description-line-height);
  color: var(--white);
  padding-right: var(--leftM / 2);
}
.company-name {
  font-weight: 600;
  color: var(--fourthGreen);
}
/*BACKUP BUTTON*/

.backup-div {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 4;
  border-radius: 100px;
  transform: translateY(200%);
  transition: all 0.15s;
}
#static-backup-div {
  position: static;
  transform: translateY(0);
}
.backup-button {
  position: relative;
  border-radius: 100px;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--fourthGreen);
  padding: 1rem;
  border: none;
  cursor: pointer;
  position: relative;
  box-shadow:
    0px 0px 3px rgba(38, 47, 36, 0.04),
    0px 0px 3px rgba(38, 47, 36, 0.13),
    0px 0px 2px rgba(38, 47, 36, 0.21),
    0px 0px 1px rgba(38, 47, 36, 0.25),
    0px 0px 0px rgba(38, 47, 36, 0.25);
}
.backup-button:hover .backup-icon {
  transform: translate(-50%, -65%);
}
.backup-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--secondDark);
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.15s ease-in-out;
}
.display-backup-button-div {
  opacity: 1;
  pointer-events: initial;
  transform: translateY(0);
}
.postion-backup-button-div {
  position: absolute;
  --top: 0;
  top: var(--top);

  right: 50%;
  transform: translateX(50%);
  transition: all 0.25s;
}
.backup-button-inactive {
  position: relative;
  pointer-events: none;
}
.backup-start {
  opacity: 0;
  pointer-events: none;
}

/*END SECTION*/

/*START*/
.end-section-start {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: var(--hugeM);
  gap: 2.5rem;
}
.end-section-start-text-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.end-header {
  font-family: Dangrek;
  font-size: var(--end-header);
  line-height: var(--end-header-line-height);
  color: var(--white);
  text-align: center;
}
.end-description {
  width: 32ch;
  font-weight: 600;
  font-size: var(--end-description);
  line-height: var(--end-description-line-height);
  color: var(--white);
  text-align: center;
}

/*FINISH*/
.end-section {
  margin-top: var(--hugeM);
  width: 100%;
  height: 100%;
  padding: 0px var(--leftM);
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
.end-start-decorator {
  width: 100%;
  height: 2px;
  background-color: var(--fourthDark);
  border-radius: 16px;
}
.end-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.copyright {
  white-space: nowrap;
  font-weight: 600;
  font-size: var(--copyright);
  color: var(--white);
}
.contact-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.contact-icon {
  cursor: pointer;
  width: var(--end-icons);
  height: var(--end-icons);
  fill: var(--white);
}

/*MINI HEADER / MINI DESCRIPTION*/
#first-mini {
  margin-top: calc(var(--welcomeM) - 20rem);
}
.mini-header-text-area {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0px var(--leftM);
}
.mini-header-div {
  width: 100%;
}
.mini-header-start {
  text-align: start !important;
}
.mini-header {
  font-family: Dangrek;
  color: var(--white);
  font-size: var(--semi-header);
  line-height: 4rem;
  text-align: center;
}
.mini-description-div-start {
  text-align: start !important;
}
.mini-description-div-centered {
  width: initial !important;
}
.mini-description-div {
  width: 100%;
}
.mini-description {
  width: 36ch;
  color: var(--white);
  font-weight: 500;
  font-size: var(--description);
  line-height: var(--description-line-height);
  text-align: center;
}
.more-ch {
  width: 50ch;
}

/*LINK*/

.link-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
.link {
  font-weight: 500;
  color: var(--white);
  font-size: 1.5rem;
  text-decoration: underline;
  cursor: pointer;
  white-space: nowrap;
}
.link:hover {
  text-decoration: none;
}
.link-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--fourthGreen);
  transition: all 0.25s;
}

/*DISCLAIMER*/

/*POPUP DISCLAIMER*/

.disclaimer-div {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--thirdDark);
  padding: 3.5rem 3rem;
  border-radius: 1000px;
  z-index: 11;
  box-shadow:
    0px 136px 54px rgba(23, 29, 22, 0.01),
    0px 76px 46px rgba(23, 29, 22, 0.05),
    0px 34px 34px rgba(23, 29, 22, 0.09),
    0px 8px 19px rgba(23, 29, 22, 0.1),
    0px 0px 0px rgba(23, 29, 22, 0.1);
}
.disclaimer-content {
  display: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.disclaimer {
  display: none;
  color: var(--white);
  font-size: 1.375rem;
  font-weight: 600;
  text-align: center;
}
.disclaimer-icon {
  display: none;
  width: 6rem;
  height: 6rem;
  fill: var(--fourthGreen);
}

.disclaimer-button {
  cursor: pointer;
  font-weight: 600;
  color: var(--thirdDark);
  text-align: center;
  display: none;
  align-content: center;
  font-size: 1.25rem;
  justify-content: center;
  padding: 0.5rem 3rem;
  background-color: var(--fourthGreen);
  border-radius: 8px;
  border: none;
}
.overlay {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 39, 29, 0.7);
  z-index: 10;
}

.copyright-div {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}
.copyright-disclaimer-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  background: none;
  border: none;
}
.copyright-disclaimer-icon {
  width: calc(var(--end-icons) - 0.75rem);
  height: calc(var(--end-icons) - 0.75rem);
  fill: var(--white);
}

@media (max-width: 1150px) {
  .nav-bar {
    padding: 0px 2.5rem;
  }
  .nav-links {
    gap: 1.5rem;
  }
  :root {
    --header-line-height: 5.5rem;
    --welcome-header: 4rem;
    --semi-header: 3.25rem;
    --header: 4rem;
    --description: 1.75rem;
    --description-line-height: 3rem;
    --leftM: 3.5rem;
  }
}
@media (max-width: 1000px) {
  :root {
    --welcome-header: 3.5rem;
    --welcome-description: 1.75rem;
    --semi-header: 3rem;
    --header: 3.75rem;
    --description: 1.75rem;
    --description-line-height: 3rem;
  }
  .mini-header-text-area {
    gap: 2rem;
  }
  .welcome-buttons {
    gap: 2.5rem;
  }
}
@media (max-width: 900px) {
  :root {
    --welcome-header: 3rem;
    --welcome-description: 1.5rem;
    --startM: 8rem;
    --semi-header: 2.75rem;
    --semi-description: 1.25rem;

    --header: 3.75rem;
    --description: 1.5rem;
    --description-line-height: 2.5rem;

    --welcomeM: 35rem;
  }
  section {
    scroll-margin-top: 96px;
  }
  a:active,
  button:active,
  label:active {
    opacity: 0.8;
  }
  #first-mini {
    margin-top: calc(var(--welcomeM) - 10rem);
  }
  .button,
  .outline-button {
    height: 3.25rem;
    padding: 8px 4rem 8px 2rem;
  }
  .button-text,
  .outline-button-text {
    font-size: var(--semi-description);
  }
  .backup-div {
    display: none;
  }
  #static-backup-div {
    opacity: 1;
    display: initial;
    pointer-events: initial;
  }
  header {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 7;
  }
  .nav-bar {
    box-shadow:
      0px 41px 16px rgba(23, 29, 22, 0.01),
      0px 23px 14px rgba(23, 29, 22, 0.05),
      0px 10px 10px rgba(23, 29, 22, 0.09),
      0px 3px 6px rgba(23, 29, 22, 0.1),
      0px 0px 0px rgba(23, 29, 22, 0.1);
  }
  .nav-links {
    display: none;
  }
  .hamburger-menu-div {
    display: flex;
  }
}
@media (max-width: 775px) {
  :root {
    --welcome-header: 2.5rem;
    --welcome-description: 1.25rem;
    --semi-header: 2.25rem;
    --semi-description: 1rem;
    --welcome-header-line-height: auto;
    --end-header: 4.25rem;
    --end-description: 1.85rem;

    --header: 3.5rem;
    --header-line-height: 4.5rem;
    --description: 1.35rem;
    --description-line-height: auto;
  }
  .button,
  .outline-button {
    height: 3rem;
    padding: 4px 4rem 4px 2rem;
  }
  .button-icon-dark,
  .button-icon-green {
    width: 1rem;
    height: 1rem;
  }
  .welcome-text {
    gap: 0.5rem;
  }
}
@media (max-width: 750px) {
  .disclaimer-div {
    padding: 1.5rem 1.5rem;
  }

  .disclaimer {
    font-size: 1.25rem;
  }
  .disclaimer-icon {
    width: 5rem;
    height: 5rem;
  }
}
@media (max-width: 650px) {
  :root {
    --welcome-header: 2.25rem;
    --semi-header: 2rem;
    --welcome-description: 1.125rem;
    --end-header: 4rem;
    --header-line-height: 4.25rem;
    --header: 3.25rem;
    --description: 1.15rem;

    --welcomeM: 30rem;
  }
  .mini-header-text-area {
    gap: 1rem;
  }
  .button,
  .outline-button {
    height: 2.75rem;
    padding: 4px 3.75rem 4px 2rem;
  }
  .welcome-div {
    gap: 2rem;
  }

  .disclaimer {
    font-size: 1rem;
  }
  .disclaimer-icon {
    width: 5rem;
    height: 5rem;
  }
}
@media (max-width: 600px) {
  .link {
    font-size: 1.25rem;
  }
  .link-icon {
    width: 1rem;
    height: 1rem;
  }
  .header-div {
    width: 100%;
  }
  .header {
    width: 100%;
  }
  .description-div {
    width: 100%;
  }
  .description {
    width: 100%;
  }
}
@media (max-width: 575px) {
  :root {
    --welcome-header: 2rem;
    --welcome-description: 1.0625rem;
    --semi-header: 1.75rem;
    --end-header: 3.75rem;
    --end-description: 1.5rem;
    --header: 3rem;
    --header-line-height: 4rem;
    --hugeM: 8rem;
  }
  .button,
  .outline-button {
    height: 2.5rem;
    padding: 4px 3.5rem 4px 2rem;
  }
}
@media (max-width: 550px) {
  .disclaimer-div {
    padding: 1.5rem 4rem;
    border-radius: 48px;
  }
  .disclaimer-content {
    gap: 2rem;
  }
  .disclaimer-icon {
    width: 4.5rem;
    height: 4.5rem;
  }

  .disclaimer-button {
    font-size: 1rem;
  }
}

@media (max-width: 510px) {
  :root {
    --welcome-header: 1.75rem;
    --welcome-description: 0.95rem;
    --semi-header: 1.5rem;
    --end-header: 3.5rem;
    --end-description: 1.25rem;
    --bigM: 5rem;
    --mediumM: 2.5rem;

    --header-line-height: 3.5rem;
    --header: 2.5rem;
    --description: 1rem;

    --welcomeM: 25rem;
  }
  header {
    position: static;
  }
  .link {
    font-size: 1rem;
  }
  .link-icon {
    width: 0.75rem;
    height: 0.75rem;
  }
  .mini-header-text-area {
    gap: 0.75rem;
  }
  .section-break {
    margin-top: 5rem;
  }
  .button,
  .outline-button {
    height: 2.5rem;
    padding: 4px 3rem 4px 1.5rem;
  }
  .button-icon-green,
  .button-icon-dark {
    right: 1.5rem;
  }
  .nav-bar {
    position: static;
  }
  .hamburger-menu-div {
    display: none;
  }
  .phone-nav {
    display: initial;
  }
  .nav-content {
    justify-content: center;
  }
  .welcome-buttons {
    flex-direction: column-reverse;
    gap: 1.5rem;
  }
  .end-section {
    margin-bottom: 8rem;
  }
}
@media (max-width: 450px) {
  :root {
    --welcome-header: 1.5rem;
    --welcome-description: 0.75rem;
    --copyright: 1.25rem;
    --end-icons: 1.75rem;
    --end-header: 3.25rem;
    --end-description: 1rem;
    --end-header-line-height: auto;

    --header-line-height: 3.25rem;

    --header: 2.25rem;
  }
  .mini-description {
    width: 100%;
  }
  .link {
    font-size: 0.85rem;
  }
  #first-mini {
    margin-top: calc(var(--welcomeM) - 13rem);
  }
  .end-section-start-text-div {
    gap: 1rem;
  }
  .button,
  .outline-button {
    height: 2.5rem;
    padding: 0px 2.5rem 0px 1rem;
  }

  .button-icon-green,
  .button-icon-dark {
    width: 0.75rem;
    height: 0.75rem;
    right: 1.5rem;
  }

  .disclaimer-div {
    padding: 1.5rem 2rem;
    border-radius: 32px;
  }
}
@media (max-width: 400px) {
  :root {
    --welcome-header: 1.25rem;
    --end-header: 3rem;
    --end-description: 1rem;
    --leftM: 2.5rem;

    --header: 2rem;
    --header-line-height: 3rem;
  }

  .mini-header {
    line-height: 2.5rem;
  }
  .text-area {
    gap: 2rem;
  }
  .phone-nav-links {
    padding: 0px 32px;
  }
  .padding-description-div {
    padding-right: 0;
  }
}

@media (max-width: 350px) {
  :root {
    --header-line-height: 2.85rem;
    --header: 1.85rem;
  }
  .description {
    width: 100%;
  }
}
